@tailwind base;
@tailwind components;
@tailwind utilities;

         
         
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

         
         
         
.btn-grad {
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
 
 
  .card{

    transition: transform 0.5s;
    background-position: center;
    background-size: cover;
  }
  .card:hover{
    transform: translateY(-15px);
  }

  .btn1{
    background-image: linear-gradient(to right, #360033 0%, #0b8793  51%, #360033  100%);
    margin: 0px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn1:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }

  .btnSignin {
    background-image: linear-gradient(to right, #085078 0%, #85D8CE  51%, #085078  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btnSignin:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 